body{
    background-color: #A67458;
    font-family:""
    margin：0;
    padding: 0;
}

header{
    background-color: #025159;
    padding: 10px 5%;
    border-radius: 10px;;
}

#self{
    align-self:flex-start;
    border-radius: 10px;
    height: 100px;
    width: 80px;
}   

#content{
    padding: 15px 2%;
    background-color: #3F858C;
    border-radius: 10px;;
    margin-left: auto;
    margin-right: auto;
    
}



h1{
    font-size:large
    text-align：start;


}
#nav{
    list-style-type: none;
    width: 190px
    background-color： #7AB8BF;
    margin: 2px;
}
#button{
    height: 400px;
    width:auto;
}

#imgHolder{
    float:right;
    align-self:center;
    padding: 10px 10px 20px 20px 10%;
    height: 250px;
    width: 250px;

}
section{
    background-color: #7AB8BF;
    border-radius: 10px;
    border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 2px;
    padding: 1px 5%;
}

#edP{
    width: 250px;
    height: 250px;
}
.container{
    display: flex;
    padding: 3%;
    justify-content:space-between;
    align-items: flex-end;
    align-items: stretch;
}

.item{
    background-color: #C4EEF2;
    padding: 10px;

}


#hwc {
    text-align: left;
    clear: both;
}

footer{
    background-color: #A67458;
    padding:10px 5%;
    border-radius: 10px;
    align-items: right;

}

/* Color Theme Swatches in Hex */
.Blue-glitter-banner-1-hex { color: #025159; }
.Blue-glitter-banner-2-hex { color: #3F858C; }
.Blue-glitter-banner-3-hex { color: #7AB8BF; }
.Blue-glitter-banner-4-hex { color: #C4EEF2; }
.Blue-glitter-banner-5-hex { color: #A67458; }

/* Color Theme Swatches in RGBA */
.Blue-glitter-banner-1-rgba { color: rgba(1, 80, 89, 1); }
.Blue-glitter-banner-2-rgba { color: rgba(63, 132, 140, 1); }
.Blue-glitter-banner-3-rgba { color: rgba(122, 184, 191, 1); }
.Blue-glitter-banner-4-rgba { color: rgba(196, 237, 242, 1); }
.Blue-glitter-banner-5-rgba { color: rgba(165, 116, 87, 1); }

/* Color Theme Swatches in HSLA */
.Blue-glitter-banner-1-hsla { color: hsla(185, 96, 17, 1); }
.Blue-glitter-banner-2-hsla { color: hsla(185, 37, 39, 1); }
.Blue-glitter-banner-3-hsla { color: hsla(185, 35, 61, 1); }
.Blue-glitter-banner-4-hsla { color: hsla(185, 64, 85, 1); }
.Blue-glitter-banner-5-hsla { color: hsla(22, 30, 49, 1); }
